.footer-menu {
  &__item {
    margin-left: .8rem;

    &:nth-child(1) {
      margin-left: 0;
    }

    @media (min-width: 768px) {
      margin-left: 2.4rem;
    }
  }

  &__link {
    display: inline-block;
    font-size: 1rem;
    line-height: 1.2rem;
    text-decoration: none;
    text-transform: uppercase;
    color: $dark-gray;
    transition: color .5s;

    &:hover {
      color: $light-gray;
    }

    &:active {
      color: $gray;
    }

    @media (min-width: 768px) {
      font-size: 1.12rem;
      line-height: 1.5rem;
    }
  }
}