.image {
  background-color: $light-gray;

  &__container {
    position: relative;
  }

  &__text {
    position: absolute;
    top: 50%;
    width: 100%;
    transform: translateY(-50%);
  }

  &__descr {
    font-family: 'Lato-Heavy';
    font-size: 1rem;
    line-height: 1.5rem;
    color: $white;
    text-align: center;

    @media (min-width: 768px) {
      padding: 0 3rem;
      font-size: 2rem;
      line-height: 2.4rem;
    }

    @media (min-width: 992px) {
      font-size: 2.5rem;
      line-height: 5.5rem;
    }
  }
}