.my-card {

  &__img {
    width: 47%;
    overflow: hidden;
    padding: .2rem;
    border-radius: 50%;
    transition: .5s;

    img {
      transition: .5s;
    }
  }

  &__title {
    position: relative;
    font-family: "Lato-Bold";
    font-size: 1.75rem;
    line-height: 2rem;
    color: $green;

    &::before {
      content: "";
      position: absolute;
      left: 50%;
      bottom: .5rem;
      width: 50%;
      height: 1px;
      background-color: $green;
      transform: translateX(-50%);
    }
  }

  &__paragraph {
    //height: 105px;
    text-overflow: ellipsis;
    text-align: justify;
  }

  &__btn {
    &:hover ~ .my-card__img {
      border: 1px solid $light-green;
      transition: .5s;
    }
  }
}